.containerApp{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 500px;
}

.containerSearch{
    display: flex;
    gap: 5px;
    align-items: center;
}

.inputSearch{
    flex-grow: 1;
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.containerTodos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 -50px;
    margin-top: 15px;
    width: 600px;
}

input{
    background-color: #303030;
    opacity: 0.4;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
input::placeholder{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}